.introduce {
    p {
        display: inline-block;
        margin: 0 4px;
        white-space: nowrap;
        background: linear-gradient(to bottom, #ffffff, #b4b4b4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:nth-of-type(1) {
            font-size: 50px;
        }
    }
}

// 링크 버튼

.linkBtn:hover .arrow {
    animation: slide-right 0.6s ease-out both;
}

@keyframes slide-right {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.linkBtn:active {
    transform: translate(1px, 1px);
    transition-duration: 0.2s;
}
