.pageInfo {
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 300;
}

.description {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 200;
}

.iconArea {
    display: flex;
    gap: 10px;
    height: 30px;
}

.divideLine {
    height: 90%;
    margin: 0 5px;
    width: 1px;
    background: grey;
}
